.catalog {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.catalog--closed {
  display: none;
}

.catalog-item {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 3.5%;
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 10px;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    width: 31.86%;
    padding: 0;
    border-width: 10px;
    border-style: solid;
    box-sizing: border-box;
    border-image-slice: 10;
    border-image-source: url("../../img/border-desktop.png");

    .catalog__button {
      background: linear-gradient(111.72deg, #ed0233 17.6%, #003eb7 95.31%);
      color: #ffffff;
      border: transparent;
    }
  }
}

.catalog-item h3 {
  font-weight: bold;
  font-size: 26px;
  line-height: 29px;

  color: #102654;

  margin: 0;
  padding-top: 52px;
  padding-bottom: 12px;
}

.catalog-item__time {
  margin: 0;
  padding-bottom: 67px;
  padding-left: 1px;
}

.catalog-item__price {
  position: relative;
  font-weight: bold;
  font-size: 60px;
  line-height: 150%;
  /* or 90px */
  color: #103aae;
  margin: 0;
  padding-bottom: 35px;

  &::before {
    position: absolute;
    content: attr(data-price);
    color: transparent;
    text-shadow: -17px -25px 0 rgba(232, 232, 232, 0.47);
    font-size: 100px;
  }
}

.catalog-item__price span {
  color: #000000;
  font-weight: normal;
  font-size: 57px;
}

@media (max-width: $tablet-width) {
  .catalog {
    flex-direction: column;
    align-items: center;
  }

  .catalog-item {
    width: 62%;
    margin: 0 auto;
    margin-bottom: 40px;

    &:nth-child(3n) {
      margin: 0 auto;
    }

    &:hover,
    &:focus {
      width: 65%;
      min-height: 448px;
      border-image-source: url("../../img/border-tablet.png");
    }
  }

  .catalog-item h3 {
    line-height: 29px;
    padding-bottom: 15px;
  }

  .catalog-item__price {
    padding-bottom: 36px;
  }
}
