.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.container--header-links a {
  font-family: "bebas_neue", "Arial", cursive;
  font-size: 26px;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.container--main-screen {
  background-image: url("../../img/men-desktop.jpg");
  background-repeat: no-repeat;
  background-position: 70% 50%;
  background-size: contain;
}

.container--header-center {
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin-bottom: 62px;
  align-items: center;
}

.container--gym {
  width: 76%;
  margin: 0 auto;
  flex-direction: column;
  margin-top: 166px;
  margin-bottom: 128px;
}

.container--gym h2 {
  text-transform: uppercase;
  font-family: "bebas_neue", "Arial", cursive;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  margin: 0;

  color: #102654;
}
