.months-list {
  list-style: none;
  padding: 0;
  margin-top: 0;
  display: flex;
  padding-bottom: 12px;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);
}

.months-list__item {
  position: relative;
  padding-right: 46px;

  font-size: 20px;
  line-height: 150%;
  /* or 30px */

  &:last-child {
    padding-right: 0;
  }
}

.months-list__item a {
  color: rgba(16, 38, 84, 0.5);
  padding-bottom: 13px;
}

.months-list__item--active a {
  border-bottom: 2px solid #d10a42;
  color: #102654;
}

@media (max-width: $tablet-width) {
  .months-list__item {
    font-size: 18px;
    padding-right: 55px;
  }
}
