.page-header {
  background: conic-gradient(from 130.31deg at 16.03% 39.06%, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);

  color: #ffffff;
}

.page-header__social {
  list-style: none;

  padding: 0;
  align-self: flex-end;

  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  margin: 0;
  padding-bottom: 43px;
}

.page-header__social-item {
  padding-top: 20px;
}

.page-header__social-item a {
  color: #ffffff;
  text-transform: uppercase;
}

@media (max-width: $tablet-width) {
  .page-header__social {
    display: none;
  }
}
