.promo {
  width: 100%;
  display: flex;
}

.promo__info {
  width: 43.1%;
  padding-top: 80px;

  background-color: #ed0233;
  color: #ffffff;
}

.promo__photo {
  height: 500px;
}

@media (max-width: $tablet-width) {
  .promo__info {
    padding-top: 47px;
  }

  .promo__photo {
    height: 292px;
  }
}
