.social-list {
  width: 130px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-list__item {
  padding: 0;
  margin: 0;
  padding-left: 20px;
}

@media (max-width: $tablet-width) {
  .social-list {
    width: 100px;
  }

  .social-list__item {
    padding-left: 20px;

    &:first-child {
      padding-left: 0;
    }
  }
}
