.swiper-container {
  width: 560px;
}

.trainers-swiper-container {
  width: 1160px;
}

@media (max-width: $tablet-width) {
  .swiper-container {
    width: 566px;
  }

  .trainers-swiper-container {
    width: 566px;
  }
}

@media (max-width: $mobile-width) {
  .swiper-container {
    width: 226px;
  }

  .trainers-swiper-container {
    width: 226px;
  }
}

