.swiper-container {
  width: 560px;
}

.trainers-swiper-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  align-items: center;
  box-sizing: border-box;
  padding-left: 40px;
  padding-right: 40px;
}

@media (max-width: $tablet-width) {
  .swiper-container {
    width: 566px;
  }

  .trainers-swiper-container {
    width: 566px;
  }
}

@media (max-width: $mobile-width) {
  .swiper-container {
    width: 226px;
  }

  .trainers-swiper-container {
    width: 266px;
  }

  .swiper-slide {
    align-items: center;
  }
}

