.trainers {
  position: relative;
}

.trainers h2 {
  padding-bottom: 55px;
}

@media (max-width: $tablet-width) {
  .trainers h2 {
    text-align: center;
    padding-bottom: 42px;
  }
}

@media (max-width: $mobile-width) {
  .trainers h2 {
    padding-bottom: 44px;
  }
}
