.trainers-list {
  list-style: none;
  padding: 0;
  margin: 0;

  width: 100%;
  display: flex;
  justify-content: space-between;
}

.trainers-list__item {
  position: relative;
  width: 260px;
  max-height: 294px;
  color: #ffffff;
  margin-right: 3.5%;

  &:nth-child(4n) {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    .trainers-list__actions {
      display: block;
    }

    .trainers-list__profile p {
      display: none;
    }
  }
}

.trainers-list__actions {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  background-image: url("../../img/actions.png");
}

.trainers-list__profile {
  position: relative;
  width: 100%;
  height: 294px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.trainers-list__profile p {

  font-weight: bold;
  font-size: 18px;
  line-height: 150%;

  margin: 0;
  padding-bottom: 25px;
}

.trainers-list__profile-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.trainers-list__profile-image img {
  object-fit: cover;
  object-position: bottom;
  height: 294px;
  width: 268px;
}

@media (max-width: $tablet-width) {
  .trainers-list {
    width: 83.5%;
    margin: 0 auto;
  }

  .trainers-list__item {
    width: 268px;
    margin-right: 4.5%;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-child(n+3) {
      display: none;
    }
  }

  .trainers-list__profile-image img {
    width: 268px;
  }
}

@media (max-width: $mobile-width) {
  .trainers-list__item {
    width: 226px;
    margin: 0 auto;

    &:nth-child(n+2) {
      display: none;
    }
  }

  .trainers-list__profile {
    height: 274px;
  }

  .trainers-list__profile-image img {
    width: 226px;
    height: 274px;
  }
}
